* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
  color: white;
  height: 60px;
  display: flex;
  padding: 16px 20vw;
}

.header .logo {
  font-weight: 800;
  font-size: 20px;
  color: #F9FAF8;
}

ul.links{
  display: flex;
  list-style-type: none;
  margin-left: auto;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.this-website-is-awesome {
  background-color: #1F2937;
  color: white;
  height: fit-content;
  flex: 0 0 auto;
  padding: 100px 20vw;
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
}

.this-website-is-awesome .left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.this-website-is-awesome .title {
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8;
} 

.this-website-is-awesome .description {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
}

.this-website-is-awesome button {
  background-color: #3882F6;
  color: white;
  border: 0;
  width: 160px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  flex: none;
}

.this-website-is-awesome .image {
  flex: 1;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.some-random-information {
  background-color: white;
  color: black;
  flex: auto;
}

.inspiring-quote {
  background-color: lightgrey;
  color: black;
  flex: 1;
}

.call-to-action {
  background-color: lightblue;
  color: white;
  flex: 1;
}

.footer {
  background-color: #1F2937;
  color: white;
  height: 60px;
}
