* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header .container {
  width: 1400px;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.header .logo {
  font-weight: 800;
  font-size: 20px;
  color: #F9FAF8;
  text-wrap: nowrap;
}

ul.links{
  display: flex;
  list-style-type: none;
  margin-left: auto;
  gap: 16px;
  text-wrap: nowrap;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
}

.this-website-is-awesome {
  background-color: #1F2937;
  color: white;
  flex: 1;
  padding: 40px 20vw;
}

.some-random-information {
  background-color: white;
  color: black;
  flex: 1;
}

.inspiring-quote {
  background-color: lightgrey;
  color: black;
  flex: 1;
}

.call-to-action {
  background-color: lightblue;
  color: white;
  flex: 1;
}

.footer {
  background-color: #1F2937;
  color: white;
  height: 60px;
}
